In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic-competition/train.csv
/kaggle/input/titanic-competition/test.csv
/kaggle/input/titanic-competition/gender_submission.csv

In [3]:
train_data = pd.read_csv("/kaggle/input/titanic-competition/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic-competition/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
import pandas as pd 

combine = [train_data , test_data]

for df in combine : 

    df['Age'] = df['Age'].fillna(df['Age'].median())

    df['fare'] = df['Fare'].fillna(df['Fare'].median())

    df['Embarked'] = df['Embarked'].fillna('S')

    df['Sex'] = df['Sex'].map({'female': 1, 'male': 0}).astype(int)

    df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)

    df['FamilySize'] = df['SibSp'] + df['Parch'] + 1 


# Define the features we will use for training

features = ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize"]

X = train_data[features]
y = train_data["Survived"]
X_test = test_data[features]

print("Data cleaning and feature engineering complete!")
X.head()

Data cleaning and feature engineering complete!

   Pclass  Sex   Age     Fare  Embarked  FamilySize
0       3    0  22.0   7.2500         0           2
1       1    1  38.0  71.2833         1           2
2       3    1  26.0   7.9250         0           1
3       1    1  35.0  53.1000         0           2
4       3    0  35.0   8.0500         0           1

In [6]:
from sklearn.ensemble import RandomForestClassifier

# 1. Instantiate the model

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

# 2. Fit (Train) the model using training data
model.fit(X, y)

print("Model training is complete!")

Model training is complete!

In [7]:
# 3. Use the model to make predictions on the test set
predictions = model.predict(X_test)

print("Predictions generated for 418 passengers.")

Predictions generated for 418 passengers.

In [8]:
# 4. Prepare the final submission file
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

# 5. Save as a CSV file in the Kaggle output directory
output.to_csv('submission.csv', index=False)

print("Your submission file 'submission.csv' has been saved!")

Your submission file 'submission.csv' has been saved!